<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar">
    <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
        <img [src]="miPortafolio.image" alt="" width="30" height="30">
        <span class="text-primary fs-5 fw-bold ms-2">{{miPortafolio.name}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <!-- Abrir ventana lateral para mandar mail -->
        <a class="btn btn-default ms-auto me-1" [href]="miPortafolio.instagram" role="button">
        <img src="https://cdn-icons-png.flaticon.com/512/156/156707.png" width="30" />
        </a>
        <!-- Llevar a linkedin -->
        <a class="btn btn-default me-1" [href]="miPortafolio.linkedn" role="button">
        <img src="https://cdn-icons-png.flaticon.com/512/1051/1051333.png?w=360" width="30" />
        </a>
        <!-- Llevar a instagram -->
        <a class="btn btn-default me-1" [href]="miPortafolio.instagram" role="button">
        <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" width="30" />
        </a>
        <a class="btn btn-outline-primary me-2" data-bs-toggle="modal" href="#loginModalToggle" role="button">Login</a>
    </div>
    </div>
</nav>
<app-login></app-login>