.main-div{
    max-width: 900px;
    margin: 0 auto;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .texto{
        font-size: 20px;
    }
}
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .texto{
        font-size: 15px;
    }
}
/* If the screen size is 400px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 400px) {
    .texto{
        font-size: 12px;
    }
}

