<div class="position-relative">
    <img [src]="miPortfolio.backimage" alt="Fondo" id="fondo" class="img-fluid"> 
    <img [src]="miPortfolio.image" alt="Perfil" id="perf" class="position-absolute">
</div>
<div class="border border-top-0 border-2 rounded-bottom">
<section class="pt-5 ms-2">
    <h1 class="fs-2 mb-0"><span><strong>{{miPortfolio.name}}</strong></span></h1>
    <h2  class="fs-4 mb-0"><span>{{miPortfolio.position}}</span></h2>
    <h2 class="fs-4"><span>{{miPortfolio.ubication}}<a href="#">Contactame</a></span></h2>
</section></div>